
*{
    margin: 0;
    padding: 0;
}

.page1 h1::selection,
.page1 span::selection,
.page1 p::selection{
    background-color: #1e293b;
    color: #E37383;
}

.page1{
    display: flex;
    align-items: center;
    justify-content: center;
}

.page1{
    flex-direction: column;
    height: 100vh;
    background-color: #fffeef;
}

.page1 h1{
    font-size: 8vw;
    font-family: 'Space Grotesk', sans-serif;
    color: #E37383;
    -webkit-text-stroke: 1px black;
}

.page1 h1 span{
    font-size: 8vw;
    font-family: 'Pixelify Sans', cursive;
    color: #1e293b;
}

.page1 p{
    text-align: center;
    font-family: 'Space Grotesk', sans-serif;
}

.page1 p span{
    font-family: 'Pixelify Sans', cursive;
    color: #E37383;
    text-decoration: none;
}

.page1 button{
    margin-top: 5vh;
    background: #E37383;
    outline: 2px solid #1e293b;
    border: none;
    border-radius: 10px;
    color: #fffeef;
    font-size: 2vw;
    font-family: 'Rokkitt', serif;
    padding: 10px 30px;
    cursor: pointer;
    transition: 200ms;
}

.page1 button:hover{
    background: transparent;
    color: #1e293b;   
    outline: 2px solid #1e293b; 
}

.page1 p .link:hover{
    text-decoration: underline;
    cursor: pointer;
}

.page1 p a{
    text-decoration: none;
}

@media (max-width:600px) {
    .body{
        display: flex;
        align-items: center;

    }

    .page1{
        /* width: 80vw; */
    }
    .page1 h1{
        font-size: 15vw;
    }
    .page1 h1 span{
        font-size: 15vw;
    }

    .page1 p{
        font-size: 3vw;

    }

    .page1 button{
        font-size: 5vw;
        width: 30vw;
    }
}

